@import url(../lib/prism/prism.css);

body {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

pre {
  padding: 1rem;
  background: #f6f8fa;
  font-family: Fira Mono;
  border-radius: 4px;
  overflow-x: auto;
  line-height: 1;
}


nav {
  display: grid;
  grid-template: 
    "previous-post home-link next-post" auto
  / 1fr 1fr 1fr;
  align-items:start;
  text-wrap: balance;
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .previous-post {
    grid-area: previous-post;
    text-align: left;
  }
  .home-link {
    grid-area: home-link;
    text-align: center;
  }
  .next-post {
    grid-area: next-post;
    text-align: right;
  }
}